.dropdownNav__link {
  display: flex;
  align-items: center;
}
.dropdownNav__text {
  color: var(--darkTextColor);
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  margin-left: 16px;
  margin-right: 10px;
}

